data/raw/*.csv
data/processed/*.csv
data/processed/*.parquet
*.dvc
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.ipynb_checkpoints/
.env
venv/
.venv/
`n.venv/
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
models/*.pkl
models/*.joblib
data/processed/*.duckdb
logs/
reports/gx/uncommitted/
.venv/
.pytest_cache/
